.popup__title {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  min-width: 358px;
}
@media screen and (max-width: 618px) {
  .popup__title {
    min-width: calc(100% - 44px);
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
}
