.elements__description {
  margin: 0;
  padding-top: 25px;
  padding-left: 21px;
  padding-right: 15px;
  padding-bottom: 31px;
  width: 282px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
}
