.elements__like-button{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: 0;
  background-image: url(../../../images/like.svg);
  width: 22px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;

}
.elements__like-button:hover {
  opacity: 0.5;
}

